/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: url('assets/images/fullstack-wallpaper.png') no-repeat top center ;
    padding: 1rem 0;
    background-size: cover;
    height: 10em;
}

h1 {
    color: #333;
    text-align: center;
    margin: 0;
}

h2 {
    color: #333;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #444;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

.contact-container {
  display: flex;
  background-color: #e3dddd;
  border-radius: 6px;
  padding: 2.22222rem;
}

@media screen and (max-width: 600px) {
  .contact-container {
    flex-direction: column;
  }
}

.contact-left-section {
    flex: 1;
    background-color: #fff;
    border-radius: 6px;
  }

  .contact-left-section form {
    padding: 1.25rem;
  }

  .form-content label {
      font-weight: 700;
  }

  .form-content input, textarea {
      background: #e8eef4;
      border: 1px solid #eceef1;
      border-radius: 6px;
      padding: .5em;
      width: 100%;
  }

  .form-checkbox {
      padding-left: 1.5em;
      position: relative;
  }

  .form-checkbox input {
      height: 1.5em;
      width: 20px;
      left: 0;
      position: absolute;
  }

  .form-checkbox label {
      float: left;
      padding-left: 0.4rem;
      font-weight: 400;
      margin-bottom: .3em;
   }

  .form-submit button {
      background-color: #e3dddd;
      border-radius: 1.875em;
      border: 0;
      cursor: pointer;
      font-size: .88889em;
      font-weight: 700;
      padding: .75em 1.875em;
  }

.contact-right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-right-section-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  padding: 1.5rem;
}

.social-links a img {
    width: 30px;
  }
  
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
