/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: url('assets/images/fullstack-wallpaper.png') no-repeat top center ;
    padding: 1rem 0;
    background-size: cover;
    height: 10em;
}

h1 {
    color: #333;
    text-align: center;
    margin: 0;
}

h2 {
    color: #333;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #444;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

.contact-container {
  flex-direction: row;
  display: flex;
  background-color: #e3dddd;
  border-radius: 6px;
  padding: 2.22222rem;
}

.contact-right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-right-section-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  padding: 1.5rem;
}

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }
  
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
