<header>    
</header>
<section [ngClass]="{'sticky': isSticky}">
    <h1 href="/">Sachin Kumar</h1>
<nav>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="https://drive.google.com/file/d/1JexUTcjZU3nS6rvTDz2vlImDR5tsicfG/view?usp=drive_link"
          target="_blank">Resume</a></li>
    </ul>
</nav>
<h1>Full Stack .NET Developer | 10+ Years of Experience</h1>
</section>

<main appDisableRightClick>
   <app-home *ngIf="!isContactFormSubmitted" (sendMessageOnClick)="resetIsContactFormSubmitted()"></app-home>
  <app-thank-you *ngIf="isContactFormSubmitted"></app-thank-you> 
  <p id="messageTextElement" style="display: none;">Thank you for contacting me. I will get back in touch with you soon. Have a great day!</p>
  
</main>
<footer>
    <p>© 2025 Sachin Kumar. All rights reserved.</p>
</footer>
