<section id="about">
    <h2>About Me</h2>
    <p>I am a Full Stack .NET Developer with expertise in .NET Core, Angular, and Azure. I specialize in building scalable and reliable solutions for modern businesses.</p>
</section>
<section id="projects">
    <h2>Projects</h2>
    <ul>
        <li>
            <h3>Project 1</h3>
            <p>Description of the project, technologies used, and achievements.</p>
        </li>
        <li>
            <h3>Project 2</h3>
            <p>Description of the project, technologies used, and achievements.</p>
        </li>
    </ul>
</section>
<section id="skills">
    <h2>Skills</h2>

    <div class="flex-container">
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=Ov4kJCn8JtAH&format=png&color=000000" alt="ASP.NET Web API">
        <span>ASP.NET Web API</span>
      </div>
      <!-- <div class="box hover-div">
        <img src="" alt="Microservices">
        <span>Microservices</span>
      </div> -->
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=mhwmyz1eu7T5&format=png&color=000000" alt="C#">
        <span>C#</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=o0pte3XTuPWi&format=png&color=000000" alt=".net core">
        <span>.net core</span>
      </div>
      <!-- <div class="box hover-div">
        <img src="" alt="ENTITY Framework">
        <span>ENTITY Framework</span>
      </div>
      <div class="box hover-div">
        <img src="" alt="Linq">
        <span>Linq</span>
      </div>
      <div class="box hover-div">
        <img src="" alt="ADO.net">
        <span>ADO.net</span>
      </div>
      <div class="box hover-div">
        <img src="" alt="hangfire">
        <span>hangfire</span>
      </div> -->
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=27rtiDd8MFgZ&format=png&color=000000" alt="elasticsearch">
        <span>elasticsearch</span>
      </div>
    </div>

    <h2 class="text-align-center">UI/UX</h2>
    <div class="flex-container">
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=j9DnICNnlhGk&format=png&color=000000" alt="Angular">
        <span>Angular</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=nCj4PvnCO0tZ&format=png&color=000000" alt="Typescript">
        <span>Typescript</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=55215&format=png&color=000000" alt="jQuery">
        <span>jQuery</span>
      </div>
      <!-- <div class="box hover-div">
        <img src="" alt="Knockout">
        <span>Knockout</span>
      </div> -->
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=v8RpPQUwv0N8&format=png&color=000000" alt="HTML5">
        <span>HTML5</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000" alt="CSS3">
        <span>CSS3</span>
      </div>
    </div>    

    <h2 class="text-align-center">Database</h2>
    <div class="flex-container">
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=laYYF3dV0Iew&format=png&color=000000" alt="MS SQL Server">
        <span>MS SQL Server</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=8ljTDYUEydbJ&format=png&color=000000" alt="Oracle PL SQL">
        <span>Oracle PL SQL</span>
      </div>
      <!-- <div class="box hover-div">
        <img src="" alt="MS Data Tools">
        <span>MS Data Tools</span>
      </div> -->
    </div>    

    <h2 class="text-align-center">Tools</h2>
    <div class="flex-container">      
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=ezj3zaVtImPg&format=png&color=000000" alt="Visual Studio">
        <span>Visual Studio</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=0OQR1FYCuA9f&format=png&color=000000" alt="Visual Studio Code">
        <span>Visual Studio Code</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=9uVrNMu3Zx1K&format=png&color=000000" alt="Grafana">
        <span>Grafana</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=AZOZNnY73haj&format=png&color=000000" alt="Git">
        <span>Git</span>
      </div>
      <!-- <div class="box hover-div">
        <img src="" alt="Git Extensions">
        <span>Git Extensions</span>
      </div>      
      <div class="box hover-div">
        <img src="" alt="MS TFS">
        <span>MS TFS</span>
      </div> -->
      
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=rdKV2dee9wxd&format=png&color=000000" alt="Swagger">
        <span>Swagger</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=12402&format=png&color=228BE6" alt="Talend">
        <span>Talend</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=QEQQKirln6Tf&format=png&color=000000" alt="Postman">
        <span>Postman</span>
      </div>
      <!-- <div class="box hover-div">
        <img src="" alt="servicenow">
        <span>servicenow</span>
      </div>
      <div class="box hover-div">
        <img src="" alt="Jira">
        <span>Jira</span>
      </div>
      <div class="box hover-div">
        <img src="" alt="HPSAW">
        <span>HPSAW</span>
      </div> -->
    </div>

    <h2 class="text-align-center">CI/CD</h2>
    <div class="flex-container">
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=VLKafOkk3sBX&format=png&color=000000" alt="Azure DevOps">
        <span>Azure DevOps</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=39292&format=png&color=000000" alt="jenkins">
        <span>jenkins</span>
      </div>
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=11678&format=png&color=000000" alt="iis">
        <span>iis</span>
      </div>
    </div>
    
    <h2 class="text-align-center">Code Quality</h2>
    <div class="flex-container">
      <!-- <div class="box hover-div">
        <img src="" alt="nunit"> 
        <span>nunit</span>
      </div>
      <div class="box hover-div">  
        <img src="" alt="Stylecop">
        <span>Stylecop</span>
      </div> -->
      <div class="box hover-div">
        <img src="https://img.icons8.com/?size=100&id=hRneqgQqDpLC&format=png&color=000000" alt="sonarqube">
        <span>sonarqube</span>
      </div>
    </div>
</section>
<section id="contact">
    <h2>Contact</h2>
  
    <div class="contact-container">
      <div class="contact-left-section">
        <form name="contact-form" id="contact-form"
          netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-netlify="true">
          <div class="form-content">
            <p class="hidden" style="display: none;">
              <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
              </label>
            </p>
            <div class="form-group">
              <label id="name-label" for="name">Name</label>
              <input id="name" type="text" name="name" aria-labelledby="name-label" placeholder="Your name" required="">
            </div>
            <div class="form-group">
              <label id="phone-label" for="phone">Phone</label>
              <input id="phone" type="text" name="phone" aria-labelledby="phone-label" placeholder="Your phone">
            </div>
            <div class="form-group">
              <label id="email-label" for="email">Email</label>
              <input id="email" type="email" name="email" aria-labelledby="email-label" placeholder="Your email address" required="">
            </div>
            <div class="form-group">
              <label id="message-label" for="message">Message</label>
              <textarea id="message" name="message" rows="5" aria-labelledby="message-label" placeholder="Your message"></textarea>
            </div>
            <div class="form-group">
              <div class="form-checkbox">
                <input id="consent" type="checkbox" name="consent" aria-labelledby="consent-label" required="">
                <label for="consent" id="consent-label">I understand that this form is storing my submitted information so I can be contacted.</label>
              </div>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <div class="form-submit">
              <button type="submit" class="btn btn--primary" (click)="sendMessageClick()">Send Message</button>
            </div>
          </div>
        </form>
      </div>
      
      <div class="contact-right-section">
        <div class="contact-right-section-item">
          <b>Email</b>
           <span>sachinidea45&#64;gmail.com</span> 
        </div>
        <div class="contact-right-section-item">
          <b>LinkedIn</b>
          <a href="https://www.linkedin.com/in/sachin-kumar-76109269/">linkedin.com/in/sachinkumar</a>
        </div>
        <div class="contact-right-section-item">
          <b>GitHub</b>
          <a href="https://github.com/sachinidea45">github.com/sachinkumar</a>
        </div>

        <div class="social-links">
          <a href="https://x.com/sachinidea45" target="_blank" aria-label="Twitter">
            <img src="https://logo.clearbit.com/twitter.com" alt="twitter">
          </a>
          <a href="https://www.instagram.com/sachinidea45/" aria-label="Instagram">
            <img src="https://logo.clearbit.com/instagram.com" alt="instagram">
          </a>
          <a href="https://www.facebook.com/ashambhavaha" aria-label="Facebook">
            <img src="https://logo.clearbit.com/facebook.com" alt="facebook">
          </a>
        </div>

        <div class="social-links">
          <a href="mailto:sachinidea45@gmail.com" target="_blank" aria-label="Gmail">
            <img src="https://logo.clearbit.com/gmail.com" alt="gmail">
          </a>
          <a href="mailto:sachinidea221092@outlook.com" target="_blank" aria-label="Outlook">
            <img src="https://logo.clearbit.com/outlook.com" alt="outlook">
          </a>
          <a href="https://www.linkedin.com/in/sachin-kumar-76109269/" aria-label="Linkedin">
            <img src="https://logo.clearbit.com/linkedin.com" alt="linkedin">
          </a>
          <a href="https://github.com/sachinidea45" target="_blank" aria-label="Github">
            <img src="https://logo.clearbit.com/github.com" alt="github">
          </a>
        </div>
      </div>
  </div>
</section>
